
$OpenSansRegular:"OpenSansRegular", sans-serif;
$OpenSansBold:"OpenSansBold", sans-serif;
$OpenSansLight:"OpenSansLight", sans-serif;
$OpenSansItalic:"OpenSansItalic", sans-serif;
$OpenSansExtraBold:"OpenSansExtraBold", sans-serif;
$OpenSansExtraBoldItalic:"OpenSansExtraBoldItalic", sans-serif;
$OpenSansBoldItalic:"OpenSansBoldItalic", sans-serif;
$OpenSansRegularItalic:"OpenSansRegularItalic", sans-serif;
$OpenSansSemiBold:"OpenSansSemiBold", sans-serif;
$OpenSansSemiBoldItalic:"OpenSansSemiBoldItalic", sans-serif;

@keyframes animation-tabs {
    0% {opacity: 0.2}
    100% {opacity: 1;}
}



