<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>

	<meta charset="utf-8">

	<title>Заголовок</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Load CSS Compiled without JS -->
	<link rel="stylesheet" href="css/fonts.min.css">
	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<!-- header start -->
	<header class="header">
		<div class="wrapper">
			<ul class="menu">
				<li class="menu__item">
					<a class="menu__link hvr-shutter-in-vertical" href="#">home</a>
				</li>
				<li class="menu__item">
					<a class="menu__link hvr-shutter-in-vertical" href="#">portfolio</a>
				</li>
				<li class="menu__item">
					<a class="menu__link hvr-shutter-in-vertical" href="#">about us</a>
				</li>
				<li class="menu__item">
					<a class="menu__link hvr-shutter-in-vertical" href="#">contact</a>
				</li>
			</ul>
			<!-- Menu Button -->
    		<button class="menu-btn"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
    		<!-- Mob Menu -->
			<nav class="pushy pushy-left">
			    <div class="pushy-content">
			        <ul>
			            <li class="pushy-link"><a href="#">home</a></li>
			            <li class="pushy-link"><a href="#">portfolio</a></li>
			            <li class="pushy-link"><a href="#">about us</a></li>
			            <li class="pushy-link"><a href="#">contact</a></li>
			        </ul>
			    </div>
			</nav>
			<div class="welcomeBlock">
				<div class="left">
					<h1 class="welcomeBlock__title">our strong organaisation</h1>
					<div class="welcomeBlock__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eius- <br> mod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.</div>
					<a href="#" class="welcomeBlock__btn hvr-float-shadow">Contact Us</a>	
				</div>
				<div class="right">
					<div class="welcomeBlock__video">
				        <div id="player"></div>
				        <div id="thumbnail_container" class="thumbnail_container">
				            <img class="thumbnail" id="thumbnail" />
				        </div>
				        <a class="start-video"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
				    </div>
				</div>
			</div>
		</div>
	</header>
	<!-- header end -->

	<!--content start-->
	<main class="content">
		<div class="wrapper">
			<!-- provider start -->
			<section class="provider">
				<div class="provider__leftBlock">
					<h2 class="provider__title">Do you know we can provide for you ?</h2>
					<div class="provider__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.</div>
					<a href="#" class="provider__btn hvr-float-shadow">Learn More</a>
				</div>
				<div class="providerList">
					<div class="providerList__box">
						<div class="providerList__icon">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</div>
						<div class="providerList__title">Management</div>
						<div class="providerList__desc">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor</div>
					</div>
					<div class="providerList__box">
						<div class="providerList__icon">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class="providerList__title">UI /UX Design</div>
						<div class="providerList__desc">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor</div>
					</div>
					<div class="providerList__box">
						<div class="providerList__icon">
							<i class="fa fa-diamond" aria-hidden="true"></i>
						</div>
						<div class="providerList__title">Logo / Branding</div>
						<div class="providerList__desc">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor</div>
					</div>
					<div class="providerList__box">
						<div class="providerList__icon">
							<i class="fa fa-truck fa-rotate-360" aria-hidden="true"></i>
						</div>
						<div class="providerList__title">Animation</div>
						<div class="providerList__desc">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor</div>
					</div>
				</div>
			</section>
			<!-- provider end -->

			<!-- products start -->
			<section class="products">
				<h2 class="products__title">feature products</h2>
				<div class="products__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.</div>
				<ul class="products__tabs">
					<li class="active">all</li>
					<li>print template</li>
					<li>web template</li>
					<li>user interface</li>
					<li>mock-up</li>
				</ul>
				<div class="products__content active">
					<div class="products__photo">
						<img src="img/product-img1.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img2.png" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img3.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img4.png" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img5.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img6.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img7.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img8.jpg" alt="">
					</div>
				</div>
				<div class="products__content">
					<div class="products__photo">
						<img src="img/product-img5.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img6.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img7.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img8.jpg" alt="">
					</div>
				</div>
				<div class="products__content">
					<div class="products__photo">
						<img src="img/product-img1.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img2.png" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img3.jpg" alt="">
					</div>
				</div>
				<div class="products__content">
					<div class="products__photo">
						<img src="img/product-img6.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img7.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img8.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img1.jpg" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img2.png" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img3.jpg" alt="">
					</div>
				</div>
				<div class="products__content">
					<div class="products__photo">
						<img src="img/product-img2.png" alt="">
					</div>
					<div class="products__photo">
						<img src="img/product-img3.jpg" alt="">
					</div>
				</div>
			</section>
			<!-- products end -->

			<!-- team start -->
			<section class="team">
				<h2 class="team__title">Meet our team</h2>
				<div class="team__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
				<div class="cart">
					<div class="cart__bigPhoto">
						<img src="img/personal1.jpg"" alt="">
					</div>
					<div class="cart__rightBlock">
						<div class="cart__info active">
							<div class="cart__name">sokina jue</div>
							<div class="cart__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
							<div class="cart__social">
								<a href="#">Facebook</a>
								<a href="#">Dribble</a>
								<a href="#">Behance</a>
								<a href="#">Twiter</a>
							</div>
						</div>
						<div class="cart__info">
							<div class="cart__name">mark waugh</div>
							<div class="cart__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
							<div class="cart__social">
								<a href="#">Facebook</a>
								<a href="#">Dribble</a>
								<a href="#">Behance</a>
								<a href="#">Twiter</a>
							</div>
						</div>
						<div class="cart__info">
							<div class="cart__name">michael ballack</div>
							<div class="cart__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
							<div class="cart__social">
								<a href="#">Facebook</a>
								<a href="#">Dribble</a>
								<a href="#">Behance</a>
								<a href="#">Twiter</a>
							</div>
						</div>
						<div class="cart__info">
							<div class="cart__name">michael owen</div>
							<div class="cart__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
							<div class="cart__social">
								<a href="#">Facebook</a>
								<a href="#">Dribble</a>
								<a href="#">Behance</a>
								<a href="#">Twiter</a>
							</div>
						</div>
						<ul class="cart__list">
							<li class="cart__photo active">
								<img src="img/personal1.jpg" alt="">
								<div class="caption">sokina jue</div>
							</li>
							<li class="cart__photo">
								<img src="img/personal2.jpg" alt="">
								<div class="caption">mark waugh</div>
							</li>
							<li class="cart__photo">
								<img src="img/personal3.jpg" alt="">
								<div class="caption">michael ballack</div>
							</li>
							<li class="cart__photo">
								<img src="img/personal4.jpg" alt="">
								<div class="caption">michael owen</div>
							</li>
						</ul>
					</div>
				</div>
			</section>	
			<!-- team end -->
		</div>
		
		<!-- subscribe start -->
		<section class="subscribe">
			<div class="wrapper">
				<h2 class="subscribe__title">Design tips, tricks, and freebies. Delivered weekly.</h2>
				<div class="subscribe__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.</div>
				<form class="subscribe__form" action="#">
					<input type="email" placeholder="Email Address...">
					<input class="hvr-float-shadow" type="submit" value="subscribe">
				</form>
			</div>
		</section>
		<!-- subscribe end -->

		<!-- contact start -->
		<section class="contact">
			<div class="wrapper">
				<h2 class="contact__title">get in touch</h2>
				<div class="contact__desc">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.</div>
			</div>
			<div class="contact__center">
				<div class="wrapper">
					<form class="contact__form">
						<div class="inputs">
							<input type="text" placeholder="Name">
							<input type="email" placeholder="Your Mail">
						</div>
						<textarea placeholder="Type your message"></textarea>
						<input class="hvr-float-shadow" type="submit" value="Send message">
					</form>
					<div class="contact__info">
						<div class="title">contact info</div>
						<span>Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh</span>
						<span>redwan@deviserweb.com</span>
						<span>(+88) 017 617 46373</span>
					</div>
				</div>
			</div>
		</section>
		<!-- contact end -->
	</main>
	<!--content end-->

	<!-- footer start -->
	<footer class="footer">
		<div class="wrapper">
			<div class="footer__copyright">© Copyright @Junaed 2016, All rights reserved.</div>
			<div class="footer__social">
				<a href="#" class="icon hvr-push">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="#" class="icon hvr-push">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="#" class="icon hvr-push">
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</a>
				<a href="#" class="icon hvr-push">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</footer>
	<!-- footer start -->
	<!-- Site Overlay -->
	<div class="site-overlay"></div>
	<!-- Load Scripts Start -->
	<script>var scr = {"scripts":[
		{"src" : "js/libs.js", "async" : false},
		{"src" : "js/common.js", "async" : false}
		]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	</script>
	<!-- Load Scripts End -->

</body>
</html>
